.container{    /* C'est une classe qui me permettra d'automatiser le padding et le margin sur toute la page*/
    max-width: 1060px;
    padding: 0 15px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
  }


h2{
    font-family: "Lobster", cursive;
    font-size: 30px;
}

body {
    margin: 0;
    font-family: "Baloo 2", cursive;
    background-color:gainsboro;

  }


/************************
* HEADER
************************/

#premiere{
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 5;
}

#premiere img {
    margin: 15px;
    width: 150px;
}

#premiere ul{
    float: right;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  #premiere ul li{
    line-height: 80px;
    margin: 0 5px;
  }
  #premiere ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 30px;
    text-transform: uppercase;
  }

  #premiere ul li a:hover{
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border:solid 3px black;
    transition: .3s;
}

#deuxieme{
    display: none;
}

/************************
* HEADER RESPONSIVE TABLETTE ET TELEPHONE
************************/

@media (max-width: 768px) {
    #premiere{
        display: none;
    }
    #deuxieme{
        display: inline-flex;
        background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        width: 100%;
        height: 75px;
        position: fixed;
    }
    #deuxieme ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }

    #deuxieme img{
        width: 50px;
        margin: 3px;
    }
    #deuxieme ul li img:hover{
        background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        border:solid 3px black;
        border-radius: 90px;
        transition: .3s;
    }
}


@media (max-width: 320px) {
    #premiere{
        display: none;
    }

}

/************************
* HOME
************************/


#home {
    background-image: url("image/planet.jpg");
    width: 100%;
    background-size: cover;    /* Permet que le background fasse toute la largeur de la fenetre*/
    background-position: center bottom;      /* Permet de centrer l'image sur la partie basse*/
    color: white;
    text-align: center;          /* Permet de centrer le texte au milieu, ici h1 et p*/
    margin: auto;
    font-size: 15px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}
#home h1 {
    font-family: "Lobster", cursive;
    font-size: 50px;
    padding: 0 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    display: inline-block;
    margin: 0 auto;
 }


  #apropos img {
      width: 200px;
      padding: 25px 50px;
      border: dashed black;
  }
  #texte {
        line-height: 30px;
        text-indent: 40px;
        padding: 40px;
        font-size: 15px;
  }


/************************
* HOME RESPONSIVE TABLETTE ET TELEPHONE
************************/

  @media (max-width: 768px) {

}


@media (max-width: 320px) {
}


/************************
* A PROPOS
************************/


  #apropos {
      display: flex;
      align-items: center;
      margin-top: 50px;
  }

  #apropos img {
    width: 300px;
  }

/************************
* A PROPOS RESPONSIVE TABLETTE ET TELEPHONE
************************/

@media (max-width: 768px) {
    #apropos{
        flex-direction: column;
    }
}


@media (max-width: 320px) {

}




/************************
* COMPETENCE    QUALITE ET DEVELOPPEMENT
QUALITE
************************/
#competence {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#div1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    font-family: "Baloo 2", cursive;
}

#div2 {
    display: flex;
    margin: 10px;
    border: solid 5px black;
    text-align: center;
    align-items: center;
    padding: 25px;
}

#div3{
    padding: 10px;
}

#competence img {
    width: 50px;
}

/************************
* COMPETENCE => QUALITE ET DEVELOPPEMENT,
RESPONSIVE TABLETTE ET TELEPHONE
************************/

@media (max-width: 768px) {
    #div1{
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 425px) {

}


/************************
* COMPETENCE    QUALITE ET DEVELOPPEMENT
DEVELOPPEMENT
************************/
#cadre1{
    padding: 20px;
}

#developpement h3 {
    margin-bottom: 9px;
}

#div4{
    border: solid 5px black;
}



/************************
* PORTFOLIO, a faire mais sans javascript c'est compliqué sur ce que je veux faire
<! --Pris sur internet mais à refaire en JS en juin car trop compliqué à faire en html/Css  -->
************************/
#slider {
    padding-top: 100px;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;   /**importance d'affichage, importance d'affichage au premier plan**/
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner { /*  */
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {  /* permet de decaler le slide vers la gauche 100% */
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms;  /* lorsque ya le changement, je veux le changement à 800ms*/
    width: 400%;      /* le gros rectangle contenant toutes mes 3 slides*/
    line-height: 50px;
    height: 400px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(4),
 #slide3:checked ~ #controls label:nth-last-child(3),
 #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 850px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }







/************************
* VALEUR
************************/

#valeur {
    margin-top: 50px;
    margin-bottom: 50px;
}

#valeur ul {
    display: flex;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}


#valeur img {
    width: 100%;

}
#valeur h2 {
    text-align: center;
    font-size: 30px;
}


#valeur ul li {
    border: solid black;
    margin: 15px;
    background-color:white;
    width: 310px;
}

#valeur ul li h3{
    font-family: "Lobster", cursive;
    font-size: 20px;
}

#contact div{
    text-align: center;
}
@media (max-width: 375px) {
    #valeur{
        max-width: 250px;
        margin-bottom: 200px;
    }
    #valeur ul {
        flex-direction: column;
    }
    #valeur h2{
        font-size: large;
    }
    .container{
        padding: 0px;
    }
    #valeur ul li{
        margin: 0px;
    }
}


/************************
* * VALEUR,
RESPONSIVE TABLETTE ET TELEPHONE
************************/

@media (max-width: 768px) {
    #valeur ul{
    flex-direction: column;
    align-items: center;
    }
    #valeur ul li {
    }
    #valeur{
        max-width: 310px;
    }
    #valeur img{
        width: 100%;
    }
}


@media (max-width: 425px) {

}



/***********************
*CONTACT
***********************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height: 800px;
    font-family: "Baloo 2", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;

}

.title {
    font-family: "Lobster", cursive;
    padding: 0 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    display: inline-block;
    margin: 0 auto;
}

.title-1 {
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 68%,
        #6fcffb 68%,
        #6fcffb 95%,
        transparent 95%
    );
    font-size: 50px;
    margin-bottom: 30px;
}

.container2 {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 30px 43px;
}

.form__group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form__label {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.form__input {
    font-size: 16px;
    font-family: inherit;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid transparent;
    width: 100%;
    transition: all 0.3s;
}

.form__input::-webkit-input-placeholder {
    color: #000;
    transform: translateY(4px);
}

.form__input:focus::-webkit-input-placeholder {
    visibility: hidden;
    opacity: 0;
}

.form__input:focus:invalid {
    border-bottom: 4px solid #e94a2f;
}

.form__input:focus + .form__label {
    opacity: 1;
    font-size: 20px;
}

.form__message,
.form__message .message__input {
    width: 100%;
}

.submitBtn {
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #6fcffb;
    border-radius: 30px;
    margin: 20px auto;
    font-size: 25px;
    font-family: inherit;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.2s;
}

.submitBtn:hover {
    transform: scale(1.02) translateY(-2px);
}
.submitBtn:active {
    transform: scale(0.98) translateY(1px);
}

/************************
*CONTACT,
RESPONSIVE TELEPHONE
************************/

@media (min-width : 500px){
    .form__input:focus {     /* c'est la que ya l'effet quand tu cliques sur le nom email ect*/
        outline: none;
        border-bottom: 4px solid #a5ee6e;
        width: 66.6666%;
        transition: all 0.3s;
    }
}


@media (max-width: 320px) {
    #contact{
        max-width: 320px;
    }
    .container2{
        width: 320px;
        padding: 15px 25px;
    }
    .form__input{
        width:60%;
    }
}


/************************
* FOOTER
************************/

footer {
    border-top:solid 3px #839D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 30px;
}
footer div p {
    margin: auto;
    display: flex;
}

footer div img {
    width: 35px;
    padding-left: 20px;
}

hr {
    border: none;
    border-top: 3px double #839D2D;
    color: #839D2D;
    width: 75%;
    text-align: center;
    height: 5px;
    align-items: center;
    margin: auto;
}
